
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/fontawesome-free/css/all.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/dist/css/adminlte.min.css")">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- DataTables -->
    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <!--iziModal-->
    <link href="~/plugins/iziModal-master/css/iziModal.min.css" rel="stylesheet" />

    <style>
        pre code {
            background-color: #eee;
            border: 1px solid #999;
            display: block;
            padding: 20px;
        }
    </style>
    @RenderSection("head", false)
</head>
<body class="hold-transition @(ViewBag.bodyclass ?? "sidebar-mini layout-fixed")">
    @RenderBody()
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="@Url.Content("~/plugins/jquery/jquery.min.js")"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/dist/js/adminlte.js")"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!--jquery-ajax-unobtrusive-->
    <script src="~/plugins/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <!--jquery.validate-->
    <script src="~/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--iziModal-->
    <script src="~/plugins/iziModal-master/js/iziModal.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
